<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
    <div class="comment-sec-area">
        <div class="container">
            <h5>{{ post.comments }} Comments</h5>
            {% for comment in comments %}
            <div class="commentText">
                <a href="{{ url_for('user_posts', username=comment.user_username) }}"><span>{{ comment.user_username }}</span></a>
                <small class="text-muted">{{ comment.timestamp.strftime('%Y-%m-%d') }}</small>
                <p class="">{{ comment.text }}</p> 
            {% endfor %}
        </div>
    </div>
    </br>

    <div class="form-group">
        {{ form.comment.label(class="form-control-label") }}

        {% if  form.comment.errors %}
            {{ form.comment(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.comment.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.comment(class="form-control form-control-lg") }}
        {% endif %}
    </div>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </div>