{% extends "layout.html" %}
{% block content %}
    <body>
        {% if current_user.is_authenticated %}
            <h1>Hello, {{ current_user.username }}!</h1>
        {% else %}
            <h1>Hello, {{ user.username }}</h1>
        {% endif %}
        {% for post in posts %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pic/' + post.author.image_file) }}" width="100" height="100">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h2><a class="article-title" href="{{ url_for('upload', post_id=post.id) }}">{{ post.title }}</a></h2>
                    
                    <video width="854" height="480" controls >
                        <source src="{{ url_for('send_video', filename=post.filename) }}" type="video/mp4">
                    </video>

                    <p class="article-description">{{ post.description }}</p>
                </div>
            </article>
        {% endfor %}
    </body>
{% endblock %}