<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<link href="/static/bootstrap-reboot.min.css" rel="stylesheet" media="screen">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% if title %}
        <title>{{ title }} - Valkyr</title>
    {% else %}
        <title>Welcome to Valkyr!</title>
    {% endif %}
</head>
<body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class='alert alert-{{ category }}'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
        {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('upload_file') }}">Upload</a>
        {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
        {% endif %}
        </div>
    {% block content %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>