{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pic/' + post.author.image_file )}}" width=125 height=125> 
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('upload', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}